In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

2024-04-16 18:25:19.302212: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-04-16 18:25:20.112858: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
titanic_file_path = tf.keras.utils.get_file(
    "train.csv",
    'https://storage.googleapis.com/tf-datasets/titanic/train.csv'
)

df = pd.read_csv(titanic_file_path)

df.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [3]:
df.rename(columns={"survived": "target"}, inplace=True)
np.random.seed(5)

In [4]:
train, val, test = np.split(df.sample(frac=1), [int(0.8*len(df)), int(0.9*len(df))])

train

/home/redloaded/anaconda3/envs/transformers/lib/python3.9/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

,target,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
445,0,male,57.0,0,0,12.3500,Second,unknown,Queenstown,y
230,1,female,31.0,0,2,164.8667,First,C,Southampton,n
289,1,male,39.0,0,0,7.9250,Third,unknown,Southampton,y
622,0,male,28.0,0,0,10.5000,Second,unknown,Southampton,y
361,0,female,37.0,0,0,9.5875,Third,unknown,Southampton,y
...,...,...,...,...,...,...,...,...,...,...
572,0,male,35.0,0,0,10.5000,Second,unknown,Southampton,y
54,0,male,26.0,2,0,8.6625,Third,unknown,Southampton,n
19,0,male,28.0,0,0,7.2250,Third,unknown,Cherbourg,y
609,1,female,27.0,1,0,13.8583,Second,unknown,Cherbourg,n
178,0,male,22.0,0,0,7.1250,Third,unknown,Southampton,y

In [5]:
def df_to_dataset(df, shuffle=True, batch_size=32):
    df = df.copy()
    labels = df.pop('target')
    df = {key: value.values[:, tf.newaxis] for key, value in df.items()}
    ds = tf.data.Dataset.from_tensor_slices((dict(df), labels))
    if shuffle:
        ds = ds.shuffle(buffer_size = len(df))

    ds = ds.batch(batch_size)
    ds = ds.prefetch(batch_size)

    return ds

In [6]:
def get_normalization_layer(name, dataset):
    normalizer = tf.keras.layers.Normalization(axis=None)
    feature_ds = dataset.map(lambda x, y: x[name])
    normalizer.adapt(feature_ds)
    return normalizer


def get_category_encodeing_layer(name, dataset, dtype, max_tokens=None):
  if dtype == "string":
    index = tf.keras.layers.StringLookup(max_tokens=max_tokens)
  else:
    index = tf.keras.layers.IntegerLookup(max_tokens=max_tokens)

  feature_ds = dataset.map(lambda x, y: x[name])

  index.adapt(feature_ds)

  encoder = tf.keras.layers.CategoryEncoding(
      num_tokens=index.vocabulary_size()
  )

  return lambda feature: encoder(index(feature))

In [7]:
batch_size = 10
train_ds = df_to_dataset(train, batch_size=batch_size)
val_ds = df_to_dataset(val, batch_size=batch_size)
test_ds = df_to_dataset(test, batch_size=batch_size)

2024-04-16 18:25:21.058039: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:998] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2024-04-16 18:25:21.058405: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2251] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [8]:
numerical_cols = ["age", "fare"]
numerical_cat_cols = ["n_siblings_spouses", "parch"]
cat_cols = ["sex", "class", "deck", "embark_town", "alone"]

all_inputs = []
encoded_features = []

for header in numerical_cols:
  numerical_col = tf.keras.Input(shape=(1,), name=header)
  normalization_layer = get_normalization_layer(header, train_ds)
  encoded_numerical_col = normalization_layer(numerical_col)

  all_inputs.append(numerical_col)
  encoded_features.append(encoded_numerical_col)

for header in numerical_cat_cols:
  cat_col = tf.keras.Input(shape=(1, ), name=header, dtype='int64')
  encoding_layer = get_category_encodeing_layer(
      header, train_ds, dtype='int64'
  )
  encoded_cat_col = encoding_layer(cat_col)

  all_inputs.append(cat_col)
  encoded_features.append(encoded_cat_col)


for header in cat_cols:
  cat_col = tf.keras.Input(shape=(1, ), name=header, dtype='string')
  encoding_layer = get_category_encodeing_layer(
      header, train_ds, dtype='string'
  )
  encoded_cat_col = encoding_layer(cat_col)

  all_inputs.append(cat_col)
  encoded_features.append(encoded_cat_col)

2024-04-16 18:25:21.213265: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-04-16 18:25:21.291146: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-04-16 18:25:21.346062: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-04-16 18:25:21.387841: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-04-16 18:25:21.438921: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-04-16 18:25:21.479303: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-04-16 18:25:21.527040: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-04-16 18:25:21.566312: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence
2024-04-16 18:25:21.607027: W tensorflow/core/framework/local_rendezvous.cc:404] Local rendezvous is aborting with status: OUT_OF_RANGE: End of sequence

In [9]:
x = tf.keras.layers.concatenate(encoded_features)
x = tf.keras.layers.Dense(32, activation="relu")(x)
x = tf.keras.layers.Dense(8, activation="relu")(x)
x = tf.keras.layers.Dense(4, activation="relu")(x)
x = tf.keras.layers.Dense(2, activation="relu")(x)

outputs = tf.keras.layers.Dense(1, activation="sigmoid")(x)

model = tf.keras.Model(all_inputs, outputs)

model.compile(
    optimizer="adam",
    loss=tf.keras.losses.BinaryCrossentropy(from_logits=False),
    metrics=["accuracy"]
)
tf.keras.utils.plot_model(model)

You must install pydot (`pip install pydot`) for `plot_model` to work.

In [10]:
history = model.fit(
    train_ds, validation_data=val_ds, epochs=50,
    callbacks=[tf.keras.callbacks.TensorBoard("log")]
    )

Epoch 1/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.4612 - loss: 0.7227 - val_accuracy: 0.6508 - val_loss: 0.6840
Epoch 2/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6867 - loss: 0.6776 - val_accuracy: 0.6984 - val_loss: 0.6694
Epoch 3/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.7495 - loss: 0.6589 - val_accuracy: 0.7619 - val_loss: 0.6313
Epoch 4/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7458 - loss: 0.6345 - val_accuracy: 0.7778 - val_loss: 0.5864
Epoch 5/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7691 - loss: 0.6106 - val_accuracy: 0.8095 - val_loss: 0.5679
Epoch 6/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7794 - loss: 0.5868 - val_accuracy: 0.8254 - val_loss: 0.5570
Epoch 7/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7911 - loss: 0.5653 - val_accuracy: 0.8254 - val_loss: 0.5172
Epoch 8/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7865 - loss: 0.5588 - val_accuracy: 0.8571 - val_loss: 0.5279
Epoch 9/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8017 - loss: 0.5388 - val_accuracy: 0.8413 - val_loss: 0.5192
Epoch 10/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8057 - loss: 0.5266 - val_accuracy: 0.8413 - val_loss: 0.5220
Epoch 11/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8059 - loss: 0.5154 - val_accuracy: 0.8254 - val_loss: 0.4966
Epoch 12/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8211 - loss: 0.5062 - val_accuracy: 0.8254 - val_loss: 0.5196
Epoch 13/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8166 - loss: 0.4948 - val_accuracy: 0.8254 - val_loss: 0.4708
Epoch 14/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8217 - loss: 0.4911 - val_accuracy: 0.8254 - val_loss: 0.5234
Epoch 15/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8197 - loss: 0.4829 - val_accuracy: 0.8254 - val_loss: 0.4802
Epoch 16/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8330 - loss: 0.4700 - val_accuracy: 0.8254 - val_loss: 0.4673
Epoch 17/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8241 - loss: 0.4629 - val_accuracy: 0.8254 - val_loss: 0.4502
Epoch 18/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8226 - loss: 0.4584 - val_accuracy: 0.8254 - val_loss: 0.4436
Epoch 19/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8288 - loss: 0.4506 - val_accuracy: 0.8254 - val_loss: 0.4483
Epoch 20/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8203 - loss: 0.4481 - val_accuracy: 0.8254 - val_loss: 0.4645
Epoch 21/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8226 - loss: 0.4418 - val_accuracy: 0.8413 - val_loss: 0.4801
Epoch 22/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8249 - loss: 0.4380 - val_accuracy: 0.8413 - val_loss: 0.4766
Epoch 23/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8255 - loss: 0.4318 - val_accuracy: 0.8413 - val_loss: 0.4704
Epoch 24/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8240 - loss: 0.4296 - val_accuracy: 0.8413 - val_loss: 0.4871
Epoch 25/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8327 - loss: 0.4195 - val_accuracy: 0.8413 - val_loss: 0.5043
Epoch 26/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8264 - loss: 0.4175 - val_accuracy: 0.8413 - val_loss: 0.5118
Epoch 27/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8276 - loss: 0.4144 - val_accuracy: 0.8413 - val_loss: 0.5898
Epoch 28/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8335 - loss: 0.4081 - val_accuracy: 0.8413 - val_loss: 0.4371
Epoch 29/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8343 - loss: 0.4038 - val_accuracy: 0.8413 - val_loss: 0.4750
Epoch 30/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8377 - loss: 0.3972 - val_accuracy: 0.8413 - val_loss: 0.5208
Epoch 31/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8418 - loss: 0.3917 - val_accuracy: 0.8413 - val_loss: 0.4650
Epoch 32/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8416 - loss: 0.3922 - val_accuracy: 0.8413 - val_loss: 0.5077
Epoch 33/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8336 - loss: 0.3908 - val_accuracy: 0.8413 - val_loss: 0.4986
Epoch 34/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8453 - loss: 0.3808 - val_accuracy: 0.8413 - val_loss: 0.5010
Epoch 35/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8400 - loss: 0.3818 - val_accuracy: 0.8413 - val_loss: 0.4633
Epoch 36/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8417 - loss: 0.3767 - val_accuracy: 0.8413 - val_loss: 0.4845
Epoch 37/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8596 - loss: 0.3739 - val_accuracy: 0.8413 - val_loss: 0.5135
Epoch 38/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8659 - loss: 0.3683 - val_accuracy: 0.8413 - val_loss: 0.5195
Epoch 39/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8668 - loss: 0.3646 - val_accuracy: 0.8413 - val_loss: 0.5245
Epoch 40/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8658 - loss: 0.3649 - val_accuracy: 0.8413 - val_loss: 0.4840
Epoch 41/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8692 - loss: 0.3596 - val_accuracy: 0.8413 - val_loss: 0.5196
Epoch 42/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8650 - loss: 0.3585 - val_accuracy: 0.8413 - val_loss: 0.4881
Epoch 43/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8699 - loss: 0.3542 - val_accuracy: 0.8413 - val_loss: 0.5142
Epoch 44/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.8668 - loss: 0.3520 - val_accuracy: 0.8413 - val_loss: 0.4929
Epoch 45/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8648 - loss: 0.3521 - val_accuracy: 0.8413 - val_loss: 0.4791
Epoch 46/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8683 - loss: 0.3575 - val_accuracy: 0.8413 - val_loss: 0.5308
Epoch 47/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8770 - loss: 0.3452 - val_accuracy: 0.8413 - val_loss: 0.5340
Epoch 48/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8713 - loss: 0.3492 - val_accuracy: 0.8413 - val_loss: 0.5403
Epoch 49/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8537 - loss: 0.3459 - val_accuracy: 0.8413 - val_loss: 0.5460
Epoch 50/50
51/51 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8639 - loss: 0.3447 - val_accuracy: 0.8413 - val_loss: 0.4972

In [41]:
print("Original")
display(df.head())
print("Predicted")
inference = df.head().drop('target', axis=1)
inference = inference[numerical_cols+numerical_cat_cols+cat_cols]
inference['target'] = model(list(inference.values.T))
display(inference[df.columns])

Original

,target,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

Predicted

,target,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0.188897,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,0.999886,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,0.647986,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,0.995191,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0.189391,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y